@using STMIS.Models.ViewModels
@model ExternalLoginViewModel

<h1 class="text-info">Register</h1>
<h3>Associate your @ViewData["ProviderDisplayName"] account.</h3>

@{
    Layout = "~/Views/Shared/_plain.cshtml";
}

<div class="row mb-5 justify-content-center">

    <div class="col-md-6 col-lg-4 mb-3">
        <div class="card text-center">
            <div class="card-header">EXTERNAL AUTHENTICATION</div>
            <div class="card-body">
                
                <p class="card-text">
                    This Action will Authenitcate  you using a third party (@ViewData["ProviderDisplayName"])

                </p>
                <p class="card-text text-danger">
                    Are you sure you want to proceed?
                </p>
                <button type="button"
                        class="btn btn-primary"
                        data-bs-toggle="modal"
                        data-bs-target="#backDropModal">
                    Continue
                </button>
                <a asp-area="" asp-controller="Accoount" asp-action="Login" class="btn btn-outline-primary">
                    Back
                </a>
            </div>
            <div class="card-footer text-muted">@DateTime.Now</div>
        </div>
    </div>
</div>
<div class="col-lg-4 col-md-3">

    <div class="mt-3">
        <!-- Button trigger modal -->
        <!-- Modal -->
        <div class="modal fade" id="backDropModal" data-bs-backdrop="static" tabindex="-1">
            <div class="modal-dialog">
                <form asp-controller="Account" asp-action="ExternalLoginConfirmation" method="post" role="form" class="modal-content" asp-route-returnurl="@ViewData["ReturnUrl"]">

                    <div asp-validation-summary="All" class="text-danger" />
                    <p class="text-mute">
                        You've successfully authenticated with <strong>@ViewData["ProviderDisplayName"]</strong>.
                        Please enter a user name for this site below and click the Register button to finish
                        logging in.
                    </p>
                    <div class="modal-header">
                        <h5 class="modal-title" id="backDropModalTitle">Authenticting With @ViewData["ProviderDisplayName"] </h5>
                        <button type="button"
                                class="btn-close"
                                data-bs-dismiss="modal"
                                aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col mb-3">
                                <label for="nameBackdrop" class="form-label">Email</label>
                                <input type="email"
                                       id="nameBackdrop"
                                       class="form-control"
                                       placeholder="PASSWORD"
                                       asp-for="Email" />
                            </div>
                        </div>
                        <div class="row g-2">
                            <div class="col mb-0">
                                <label for="emailBackdrop" class="form-label">Name</label>
                                <input type="text"
                                       id="emailBackdrop"
                                       class="form-control"
                                       placeholder="Enter prefered Username"
                                       asp-for="Name" />
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
                            Close
                        </button>
                        <button type="submit" class="btn btn-primary">REGISTER</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>







@section Scripts{ 
@{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}