@model IEnumerable<STMIS.Models.SubTopicsTable>

@{
    ViewData["Title"] = "Index";
}

<!-- Bordered Table -->
<div class="card">
    <h5 class="card-header">SUBTOPICS</h5>
    <a asp-action="Create">Create New</a>

    <div class="card-body">
        <div class="table-responsive text-nowrap">
            <table class="table ">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.SubTopic)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Overview)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.IsComplete)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Datetime)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Class)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Topic)
                        </th>
                        <th></th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.SubTopic)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Overview)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.IsComplete)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Datetime)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Class.ClassId)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Topic.TopicId)
                            </td>
                            <td>
                                <div class="dropdown">
                                    <button type="button"
                                        class="btn p-0 dropdown-toggle hide-arrow"
                                        data-bs-toggle="dropdown">
                                        <i class="bx bx-dots-vertical-rounded"></i>
                                    </button>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" asp-action="Edit" asp-route-id="@item.SubTopicsId"> <i class="bx bx-edit-alt me-1"></i>Edit</a>
                                        <a class="dropdown-item" asp-action="Details" asp-route-id="@item.SubTopicsId"><i class="bx bx-edit-alt me-1"></i>Details</a>
                                        @*                                    <a asp-action="Details" asp-route-id="@item.ClassId">Details</a> |
                                    *@
                                    </div>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<!--/ Bordered Table -->

<hr class="my-5" />